In [10]:
api_lst = ["9pWr4Z38nFyytVVF2LPQWJ5G3x5SrVO0Px3MbQOl",
           "bShyCnUYYfY6eP3qyUt6VGY1MqEQklrOeuwPUps5",
           "5EVJteEMrjnX73GRj4Q9qqB3NWqIObFujtP4fBGI",
           "saSE5uqp940Hmw6imfc1FaCo6qFJS9dOH8RIjSJW"
          ]
apikey = api_lst[1]

In [11]:
%pip install -r requirements.txt

Requirement already satisfied: pint>=0.18 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 3)) (0.20.1)
Requirement already satisfied: requests>=2.26.0 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 6)) (2.26.0)
Requirement already satisfied: python-gnupg in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 8)) (0.5.0)
Requirement already satisfied: eep153_tools in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 10)) (0.11)
Requirement already satisfied: fooddatacentral in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 12)) (1.0.9)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (2.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (1.26.7)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import fooddatacentral as fdc

In [13]:
# example of a typical lunch 
# source: https://www.ousd.org/cms/lib/CA01001176/Centricity/Domain/6652/February%202023%20K8%20Satellite%20Menu.pdf

lunch_foods = ["cheese burger", 
              "1% fat milk", 
              "red apple",
              "edamame", 
              "mini carrot", 
              "mandarin", 
              "cauliflower", 
              "celery stick", 
              "bosc pear", 
              "orange", 
              "jicama stick",
              "spinach", 
              "kiwi", 
              "bartlett pear"]

# collect FDC ids

food_to_id = {}

for food in lunch_foods:
    df = fdc.search(apikey, food)
    fdc_id = df['fdcId'][0]
    food_to_id[food] = fdc_id
    
food_to_id

{'cheese burger': 2022263,
 '1% fat milk': 2340764,
 'red apple': 1750339,
 'edamame': 2384458,
 'mini carrot': 2345173,
 'mandarin': 169105,
 'cauliflower': 2409200,
 'celery stick': 2345298,
 'bosc pear': 1662757,
 'orange': 1864680,
 'jicama stick': 2345307,
 'spinach': 721056,
 'kiwi': 1898469,
 'bartlett pear': 746773}

In [14]:
# get nutrients 
import pandas as pd
import warnings

D = {}
count = 0
for food in lunch_foods:
    try:
        FDC = food_to_id[food]
        count+=1
        D[food] = fdc.nutrients(apikey,FDC).Quantity
        print(food)
    except AttributeError:
        warnings.warn(f"Couldn't find FDC Code {FDC} for food {food}." % (food,FDC))

D = pd.DataFrame(D,dtype=float)

D

cheese burger
1% fat milk
red apple
edamame
mini carrot
mandarin
cauliflower
celery stick
bosc pear
orange
jicama stick
spinach
kiwi
bartlett pear

,cheese burger,1% fat milk,red apple,edamame,mini carrot,mandarin,cauliflower,celery stick,bosc pear,orange,jicama stick,spinach,kiwi,bartlett pear
Alanine,NaN,NaN,NaN,NaN,NaN,0.028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016
"Alcohol, ethyl",NaN,0.00,NaN,NaN,0.00,0.000,NaN,0.00,NaN,NaN,0.00,NaN,NaN,NaN
Amino acids,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
Arginine,NaN,NaN,NaN,NaN,NaN,0.068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.012
Ash,NaN,NaN,0.14830,NaN,NaN,0.380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vitamin K (Dihydrophylloquinone),NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
Vitamin K (phylloquinone),NaN,0.10,NaN,NaN,13.20,0.000,NaN,29.30,NaN,NaN,0.30,483.5,NaN,3.800
Vitamins and Other Components,NaN,NaN,0.00000,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
Water,NaN,89.70,84.67000,NaN,88.30,85.170,NaN,95.40,NaN,NaN,90.10,NaN,NaN,84.100
"Zinc, Zn",NaN,0.43,0.01964,NaN,0.24,0.070,NaN,0.13,NaN,NaN,0.16,NaN,NaN,0.070

In [ ]:
# notes 
# nutrition matrix has many foods with NaN values for all nutrients
# fix: manually change fdc id to match next food in database with actual nutrient data